@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

@font-face {
  font-family: "Comic Sans MS";
  src: url(../fonts/comic.ttf);
}

:root {
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  :root {
    font-size: 10px;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-user-select: none;
  font-size: 1rem;
  font-family: "Proxima Nova", "Montserrat";
  -webkit-font-smoothing: antialiased;
}

body::-webkit-scrollbar {
  width: 0.45rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #55b7a4;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 3vmax;
}

h2,
h3 {
  text-transform: capitalize;
}

h2 {
  font-size: 3rem;
}

p {
  color: gray;
  line-height: 1.6;
  font-family: "Helvetica Neue WGL", "Helvetica Neue";
}

p::first-letter {
  text-transform: uppercase;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button,
textarea {
  border: none;
  background-color: transparent;
  font-size: 1rem;
}

button,
select,
input[type="submit"] {
  cursor: pointer;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  color: #bec6cc, #444451;
  text-transform: capitalize;
  font-weight: 600;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  opacity: 0;
}

textarea {
  resize: none;
}

hr {
  margin: 0;
  border: none;
  background-color: transparent;
  width: 100%;
  height: 3px;
}

@media (max-width: 600px) {
  hr {
    height: 3px !important;
  }
}

:focus {
  outline: none !important;
}

.container {
  width: 1170px;
  width: 92%;
  width: 96.55vw;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 476px) {
  .container {
    width: 100% !important;
  }
}

body {
  background: #224941 url("../img/bg.jpg") no-repeat center center/cover;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

h1 {
  font-family: "Comic Sans MS";
  letter-spacing: 3px;
  position: absolute;
  top: 5%;
  font-size: 3.5vmax;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#55b7a4));
  background-image: linear-gradient(white, #55b7a4);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  height: 300px;
  width: 300px;
  position: relative;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.container.grow {
  -webkit-animation: grow 3s linear forwards;
          animation: grow 3s linear forwards;
}

.container.shrink {
  -webkit-animation: shrink 3s linear forwards;
          animation: shrink 3s linear forwards;
}

.container .circle {
  background-color: #010f1c;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.container p {
  color: #dedede;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.container .gradient-circle {
  background: conic-gradient(#55b7a4 0%, #4ca493 40%, #dedede 40%, #dedede 60%, #336d62 60%, #2a5b52 100%);
  height: 320px;
  width: 320px;
  z-index: -2;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -10px;
}

.container .pointer-container {
  position: absolute;
  top: -40px;
  left: 140px;
  width: 20px;
  height: 190px;
  -webkit-animation: rotate 7.5s linear forwards infinite;
          animation: rotate 7.5s linear forwards infinite;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

.container .pointer-container .pointer {
  background-image: radial-gradient(#55b7a4 50%, white 50%);
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: block;
}

@-webkit-keyframes grow {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes grow {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes shrink {
  from {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes shrink {
  from {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=style.css.map */